.service-card {
  transition: 0.3s;
}

.service-card:hover {
  background-color: #efefef;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.barre-bleue {
  width: 100px;
  height: 4px;
  background-color: #0d6efd;
}

/* Responsive */
@media (max-width: 768px) {
  .service-card {
    margin-bottom: 1.5rem;
  }

  .icon-service {
    font-size: 2rem;
  }
}
